@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap"); */

@layer base {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9333ea, #a855f7);
  border-radius: 5px;
}

::selection {
  background-color: #a855f7;
  color: white;
}

html {
  scroll-behavior: smooth;
}
